html, body {
  height: 100%;
}
body, .box {
  display: flex;
  align-items: stretch;
  flex-flow: column;
  padding: 6px;
}
.box-title {
  font-weight: bold;
  font-size: 2em;
  flex: none;
}
.box-children {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.new-child {
  flex: none;
}
