html {
  height: 100%;
}
[hidden] {
  display: none !important;
}
html, body, .box {
  display: flex;
  align-items: stretch;
  flex-flow: column;
}
body {
  flex: 1;
}
.box {
  flex: none;
}
.box-headline {
  flex: none;
  display: flex;
  flex-flow: row nowrap;
}
.box-title {
  flex: 1;
}
.box-toggle {
  flex: none;
}
.box-contents, .box-children {
  flex: none;
  display: flex;
  flex-flow: column;
}
.new-child {
  flex: none;
}
