html, body {
  height: 100%;
}
body, .box {
  display: flex;
  align-items: stretch;
  flex-flow: column;
}
.box-title {
  flex: none;
}
.box-children {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.new-child {
  flex: none;
}
