html {
  height: 100%;
}
html, body, .box {
  display: flex;
  align-items: stretch;
  flex-flow: column;
}
body {
  flex: 1;
}
.box {
  flex: none;
}
.box-title {
  flex: none;
}
.box-children {
  flex: none;
  display: flex;
  flex-flow: column;
}
.new-child {
  flex: none;
}
